h1 {
    color: navy
}

body {
    font-family: Tahoma,Helvetica,Segoe UI,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 15px;
    quotes: "“" "”";
    color: #333;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

#header {
    position: relative;
    z-index: 1001;
    background: #fff;
    top: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#header-logo {
    background: url(logo.png) no-repeat center center;
    background-size: 100%;
}

#header-logo {
    float: left;
    line-height: 60px;
    margin-right: 45px;
    width: 200px;
    height: 80px;
    display: block;
}


#header .search-wrapper.full {
    width: 61%;
}

#header .search-wrapper {
    --width: calc(55% - 106px);
    float: left;
    position: relative;
}


#header-search-bar {
    width: 100%;
    float: left;
    margin-top: 11px;
    border: 1px solid #656565;
    border-radius: 18px;
    position: relative;
}

.ax-hidden {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px,1px,1px,1px);
    border: 0;
    overflow: hidden;
}

#header-search-bar input[type=search] {
    width: 86%;
    padding: 7px;
    margin-left: 20px;
    border: none;
}

#header-search-bar button {
    width: 34px;
    height: 34px;
    outline: 0;
    background: 0 0;
    border: none;
    right: 3px;
    position: absolute;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

#header-search-bar button .ssg-icon {
    vertical-align: middle;
    font-size: 18px;
    color: #656565;
    font-weight: 600;
}

#header-search-result.active {
    visibility: visible;
    height: auto;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.ssg-icon {
    font-family: SSG-Icon!important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.p-list-container {
    overflow: hidden;
    float: left
}

#filter-wrapper {
    width: 210px;
    float: left;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

div {
    display: block;
}
